body {
	background: grey;
}


#container {
	width: 450px;
	/*height: 600px;*/
	margin: 0 auto;
	background: white;
}


.result {
	height: 112px;
}

#display, #log {
	width: 500px;
}



tr {
	height: 75px;
}



td {
	border: 1px solid black;
	margin: 0;
	width: 125px;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	text-align: center;
}

#display, #result {
	text-align: right;
}


ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

li {
	height: 38px;
	background: white;
	text-align: right;
	border: 1px solid black;
	line-height: 38px;
}

.visible {
	display: none;
}