body {
	background: rgb(200,200, 200);
	font-family: "Orbitron"
}


#container {
	width: 400px;
	margin: 30px auto;
	background: white;
	background: rgb(33, 38, 40);
	border: 1px solid black;
	color: white;
}

#operations {
	background: rgb(19, 21, 22);

}


.result {
	height: 56px;
	font-size: 1.5em
}


#display, #log {
	width: 500px;
}



tr {
	height: 75px;
}



td {
	border: 1px solid rgb(10, 10, 10);
	margin: 0;
	width: 125px;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	text-align: center;
}


#display, #result {
	text-align: right;
}


ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	background: rgb(10, 10, 10);
}

li {
	height: 50px;
	text-align: right;
	border: 1px solid black;
	line-height: 50px;
}

.visible {
	display: none;
}

button {
	width: 100%;
}


.green, .equal{
	background: rgb(53, 214, 25);
	/*border: 1px solid green;
	border-radius: 15%;*/
}

.result {
	background: rgb(10, 10, 10);
}

a {
	color: white;
}


#deleteAll, #deleteOne {
	background: rgb(99, 0, 0)
}

#deleteAll:hover, #deleteOne:hover {
	background: rgb(168, 0, 0);
}

.buttonNumbers td:hover {
	background: rgb(19, 21, 22);
}

#equal:hover {
	background: rgb(29, 122, 13);
}

button {
	border: none;
	background: none;
	height: 100%;
	font-size: 1.5em;
	color: white;
	font-family: "Orbitron"
	outline: none;
}

button:focus {
	outline: none;
}


